{{- $params := .Params -}}
{{- $image := "/home.png" -}}
{{- with $params.cover }}{{ with .image }}{{ $image = . }}{{ end }}{{ end -}}
{{- with $params.songImageUrl }}{{ $image = . }}{{ end -}}
{{- $imageURL := $image | relURL -}}
{{- if (urls.Parse $image).IsAbs }}{{ $imageURL = $image }}{{ end -}}

<div
        class="player__wrapper"
        data-audio-a="{{ $params.clientReferenceUrl | relURL }}"
        data-audio-b="{{ $params.masterTrimUrl | relURL }}"
        data-audio-c="{{ $params.masterUrl | relURL }}"
        data-version-a='{{ i18n "audio_player_button_a" }}'
        data-version-b='{{ i18n "audio_player_button_b" }}'
        data-version-c='{{ i18n "audio_player_button_c" }}'
        data-tooltip-a='{{ i18n "audio_player_tooltip_a" }}'
        data-tooltip-b='{{ i18n "audio_player_tooltip_b" }}'
        data-tooltip-c='{{ i18n "audio_player_tooltip_c" }}'
>
    <h2 class="player__title">{{ .Title }}</h2>
    <p class="player__version" aria-live="polite">&nbsp;</p>

    <div class="player__artwork" aria-live="polite">
        <img class="player__image" src="{{ $imageURL }}" alt="{{ .Title }}">
        <span class="player__overlay" aria-hidden="true"></span>
    </div>

    <div class="progress__container progress" aria-label="Audio progress">
        <div class="progress__bar progress__fill"></div>
    </div>

    <div class="player__controls">
        <button class="player__control previous__button" type="button" aria-label="Previous audio version" disabled="disabled">
            <i class="fa-solid fa-backward-step"></i>
        </button>
        <button class="player__control play__button" type="button" aria-label="Play audio">
            <i class="fa-solid fa-play"></i>
        </button>
        <button class="player__control next__button" type="button" aria-label="Next audio version" disabled="disabled">
            <i class="fa-solid fa-forward-step"></i>
        </button>
    </div>
</div>
