.player__wrapper {
    border: 1px solid var(--border);
    display: inline-grid;
    border-radius: var(--radius);
    background: var(--code-bg);
    padding: 20px 10px 20px 10px;
    width: 100%;
    min-width: 0;
}

.ab__controls {
    display: grid;
    align-content: center;
    align-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    justify-items: center;
    width: 100%;
    gap: 0.5rem;
    min-width: 0;
}

button {
    font-size: 1.3rem;
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding: 0.75rem;
    border-radius: var(--radius);
    background: #e6e6e6;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

button:disabled {
    color: #c9c9c9;
    transition: all ease-in-out 0.3s;
}

button:disabled:hover {
    color: #c9c9c9;
}

button:hover {
}

.a__button, .b__button, .c__button {
    border: 0.5px solid var(--code-bg);
    border-radius: 4px;
    font-size: 0.8rem;
    width: max-content;
    min-width: 80%;
    max-width: 100%;
}

.play__button {
    border: 1px solid var(--border);
    width: 5rem;
    color: rgb(108 98 255);
    justify-self: self-end;
}

.play__button:disabled:hover {
    color: #9992ff;
}

.stop__button {
    border: 1px solid var(--border);
    width: 5rem;
    color: rgb(108 98 255);
    justify-self: self-start;
}

.stop__button:disabled:hover {
    color: #9992ff;
}

.stop__button:disabled {
    color: rgb(108 98 255);
}

.play__stop__controls {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 1rem;
}

.progress__container {
    display: inline-flex;
    height: 1rem;
    width: 100%;
    margin-bottom: 2.4rem;
    border-radius: 10px;
    background: #e6e6e6;
    cursor: pointer;
    align-self: center;
    overflow: hidden;
}

.progress__bar {
    background: linear-gradient(360deg, #6c62ff, #67a2ff);
    border-radius: 12px;
    transition: all ease-in-out 0.03s;
}

.progress__fill {
    width: 0;
}
