*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #e6e6e6;
    display: grid;
    justify-items: center;
    grid-template-rows: 2fr 4fr;
}

#intro {
    max-width: 90vw;
    margin-bottom: 3rem;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    align-self: end;
    text-align: center;
    color: #393939;

    font-size: 1.2em;
}

#intro h1 {
    font-size: 1.4em;
    font-weight: 700;
}

#intro p {
    margin-top: 20px;
    font-size: 0.85em;
    color: #606060;
}

#tagline {
    font-size: 0.78em;
    margin-bottom: 0;
    color: #606060;
}

#intro a {
    transition: all 0.3s;
    font-weight: 600;
    font-size: 0.9rem;
    color: #089aa1;
}

#intro a:hover {
    opacity: 0.8;
}

.player__wrapper {
    border: 1px solid var(--border);
    display: inline-grid;
    border-radius: var(--radius);
    background: var(--code-bg);
    padding: 20px 10px 20px 10px;
    width: 100%;
}

.ab__controls {
    display: grid;
    align-content: center;
    align-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    justify-items: center;
    width: 100%;
    gap: 0.5rem;
}

button {
    font-size: 1.3rem;
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding: 0.75rem;
    border-radius: var(--radius);
    background: #e6e6e6;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

button:disabled {
    color: #c9c9c9;
    transition: all ease-in-out 0.3s;
}

button:disabled:hover {
    color: #c9c9c9;
}

button:hover {
}

.a__button, .b__button, .c__button {
    border: 0.5px solid var(--code-bg);;
    border-radius: 4px;
    font-size: 0.8rem;
    width: max-content;
    min-width: 80%;
}

.play__button {
    border: 1px solid var(--border);
    width: 5rem;
    color: rgb(108 98 255);
    justify-self: self-end;
}

.play__button:disabled:hover {
    color: #9992ff;
}

.stop__button {
    border: 1px solid var(--border);
    width: 5rem;
    color: rgb(108 98 255);
    justify-self: self-start;
}

.stop__button:disabled:hover {
    color: #9992ff;
}

.stop__button:disabled {
    color: rgb(108 98 255);
}

.play__stop__controls {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 1rem;
}

.progress__container {
    display: inline-flex;
    height: 1rem;
    width: 100%;
    margin-bottom: 2.4rem;
    border-radius: 10px;
    background: #e6e6e6;
    cursor: pointer;
    align-self: center;
    overflow: hidden;
}

.progress__bar {
    background: linear-gradient(360deg, #6c62ff, #67a2ff);
    border-radius: 12px;
    transition: all ease-in-out 0.03s;
}

.progress__fill {
    width: 0;
}
