.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(80vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile img {
    display: inline-table;
    border-radius: 1%;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 10px;
    font-size: 25px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}

.profile .profile_inner h1 {
    padding: 10px 0;
    font-size: 50px;
}

.profile_inner img {
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
}

.profile_inner .social-icons a svg {
    height: 65px;
    width: 65px;
}
